.App {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-banner-text {
  font-size: 0.8em;
}

.App-instructions {
  font-size: 0.6em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.App-header {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.AddressesText {
  width: 45em;
}

.Footer {
  flex-direction: column;
  display: flex;
  font-size: 0.6em;
  align-items: center;
  padding-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  .AddressesText {
    width: 100%;
  }
}

.InputContainer {
}

.DownloadLink {
  color: #49EACB;
  margin-top: 1em;
}

.Checkboxes {
  color: #49EACB;
  font-size: 0.8em;
}

.DonationLink {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 39em;
  text-align: center;
}

.DonationQR {
  background: #FFF;
  padding: 4px;
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 0.5em;
  transition: all .2s ease-in-out;
}

.DonationQR:hover {
  transform: scale(1.5);
}

.SuggestionSection {
  align-items: center;
  padding-top: 1em;
}

a {
  color: #49EACB;
}

.row {
  flex-direction: row;
  display: flex;
}

.column {
  flex-direction: column;
  display: flex;
}

.selected-years {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  margin-left: 1rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.selected-year {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
  margin-top: 0.25rem;
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2rem;
  border-radius: 4px;
}

.remove-year-button {
  margin-left: 0.25rem;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  padding: 0;
}

.remove-year-button:hover {
  color: darkred;
}

